<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Transmission Login</title>

    <!-- Page -->
    <script src="/js/login-page.js"></script>
</head>
<body>
    <div class="fragment">
        <!--<header aria-label="Header content" role="banner">
            <button data-win-control="WinJS.UI.BackButton"></button>
            <h1 class="titlearea win-type-ellipsis">
                <span class="pagetitle">Welcome to login</span>
            </h1>
        </header>-->
        <section aria-label="Main content" role="main" ng-controller="LoginController">
            <form ng-submit="login()">
                <div>
                    <input ng-model="servername" placeholder="1.23.45.678" required />
                </div>
                <div>
                    <input ng-model="username" placeholder="user" required />
                </div>
                <div>
                    <input ng-model="password" type="password" required />
                </div>
                <input type="submit" id="submit" value="Submit" />

                <div ng-show="errorMessage.length > 0">{{errorMessage}}</div>
            </form>
        </section>
    </div>
</body>
</html>