<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Transmission Login</title>

    <!-- Page -->
    <script src="/js/pages/login-page.js"></script>
</head>
<body>
    <div ng-controller="LoginController">
        <div id="login-area">
            <form ng-submit="login()">
                <div class="row">
                    <div class="pull-right">
                        <input ng-model="settings.port" placeholder="port" type="number" required />
                    </div>
                    <input ng-model="settings.host" placeholder="host" type="text" required />
                </div>
                <div class="row">
                    <label class="pull-right">
                        <input ng-model="settings.useSsl" type="checkbox" />
                        Use SSL
                    </label>
                    <input ng-model="settings.rpcPath" type="text" />
                </div>
                <div class="row">
                    <label>
                        <input ng-model="authRequired" type="checkbox" ng-checked="{{settings.username.length > 0}}" />
                        Authentication required
                    </label>
                </div>
                <div ng-show="authRequired">
                    <div class="row">
                        <input ng-model="settings.username" placeholder="username" type="text" required />
                    </div>
                    <div class="row">
                        <input ng-model="settings.password" placeholder="password" type="password" required />
                    </div>
                </div>
                <input type="submit" id="submit" value="Submit" />

                <div ng-show="errorMessage.length > 0">{{errorMessage}}</div>
            </form>
        </div>
    </div>
</body>
</html>