<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Torrent Details</title>

    <!-- Page -->
    <script src="/js/pages/torrent-details-page.js"></script>
</head>
<body>
    <!-- Templates -->
    <div id="file-item-template" data-win-control="WinJS.Binding.Template">
        <div class="item">
            <div class="item-image"></div>
            <div class="item-overlay">
                <h4 class="item-title win-type-ellipsis" data-win-bind="innerText:name"></h4>
            </div>
        </div>
    </div>

    <!-- Content -->
    <div class="fragment groupeditemspage" ng-controller="TorrentDetailsController">
        <header aria-label="Header content" role="banner">
            <button data-win-control="WinJS.UI.BackButton"></button>
            <h1 class="titlearea win-type-ellipsis">
                <span class="pagetitle">{{torrent.name}}</span>
            </h1>
        </header>
        <section aria-label="Main content" role="main">
            <div data-win-control="WinJS.UI.Hub">
                <div class="section1" data-win-control="WinJS.UI.HubSection" data-win-options="{header: 'Torrent', isHeaderStatic: true}">
                    <div>
                        Name: {{torrent.downloadDir}}
                    </div>
                    <div>
                        Total size: {{torrent.totalSize}}
                    </div>
                    <div>
                        Hash: {{torrent.hashString}}
                    </div>
                    <div>
                        Added on: {{torrent.addedDate * 1000 | date:'medium'}}
                    </div>
                    <div>
                        Creator: {{torrent.creator}}
                    </div>
                    <div>
                        Pieces: {{torrent.pieceCount}} &times; {{torrent.pieceSize | bytes}}
                    </div>
                    <div>
                        Comment: {{torrent.comment}}
                    </div>
                    <div>
                        Completed on {{torrent.doneDate * 1000 | date:'medium'}}
                    </div>
                </div>
                <div class="section2" data-win-control="WinJS.UI.HubSection" data-win-options="{header: 'Transfer', isHeaderStatic: true}">
                    <div>
                        Status: {{torrent.status}} <!-- Get status string -->
                    </div>
                    <div>
                        Downloaded: {{torrent.downloadedEver | bytes}}
                    </div>
                    <div>
                        Download speed: {{torrent.downloadLimit}} <!-- what is this type -->
                    </div>
                    <div>
                        Download limit: {{torrent.downloadLimited}}
                    </div>
                    <div>
                        Seeds: {{torrent.peersSendingToUs}} of {{torrent.trackerStats[0].seederCount}} connected
                    </div>
                    <div>
                        Tracker: {{torrent.trackerStats[0].host}}
                    </div>
                    <div>
                        Error: {{torrent.errorString}}
                    </div>
                    <div>
                        Uploaded: {{torrent.uploadedEver | bytes}}
                    </div>
                    <div>
                        Upload speed: {{torrent.uploadLimit}} <!-- figure out type -->
                    </div>
                    <div>
                        Upload limited: {{torrent.uploadLimited}}
                    </div>
                    <div>
                        Peers: {{torrent.peersGettingFromUs}} of {{torrent.trackerStats[0].leecherCount}}
                    </div>
                    <div>
                        Tracker update on: {{torrent.trackerStats[0].lastAnnounceTime * 1000 | date:'medium'}}
                    </div>
                    <div>
                        Remaining: {{torrent.eta}} <!-- need filter for this -->
                    </div>
                    <div>
                        Wasted: {{torrent.corruptEver | bytes}} ({{torrent.hashFails}} hashfails)
                    </div>
                    <div>
                        Share ratio: {{torrent.uploadRatio}}
                    </div>
                    <div>
                        Max peers: {{torrent.maxConnectedPeers}}
                    </div>
                    <div>
                        Last active: {{torrent.trackerStats[0].lastScrapeTime * 1000 | date:'medium'}}
                    </div>
                </div>
                <div data-win-control="WinJS.UI.HubSection" data-win-options="{header: 'Trackers', isHeaderStatic: true}">
                    
                </div>
                <div data-win-control="WinJS.UI.HubSection" data-win-options="{header: 'Peers', isHeaderStatic: true}">

                </div>
                <div class="section5" winjs-list-view="files" data-win-control="WinJS.UI.HubSection" data-win-options="{header: 'Files', isHeaderStatic: true}">
                    <div class="list-view win-selectionstylefilled" data-win-control="WinJS.UI.ListView" data-win-options="{
                            itemTemplate: select('#file-item-template'),
                            selectionMode: 'none',
                            tapBehavior: 'none',
                            swipeBehavior: 'none'
                        }">
                    </div>
                </div>
            </div>
        </section>
    </div>
</body>
</html>