<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Torrent Details</title>

    <!-- Page -->
    <script src="/js/pages/torrent-details-page.js"></script>
</head>
<body>
    <!-- Content -->
    <div class="fragment groupeditemspage" ng-controller="TorrentDetailsController">
        <header aria-label="Header content" role="banner">
            <button data-win-control="WinJS.UI.BackButton"></button>
            <h1 class="titlearea win-type-ellipsis">
                <span class="pagetitle">{{torrent.name}}</span>
            </h1>
        </header>
        <section aria-label="Main content" role="main">
            <h4>asdf</h4>
        </section>
    </div>
</body>
</html>