<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Transmission</title>
    <link rel="stylesheet" href="/css/torrents.css" />

    <!-- Page -->
    <script src="/js/pages/torrents-page.js"></script>
</head>
<body>
    <!-- Templates -->
    <div id="torrent-item-template" data-win-control="WinJS.Binding.Template">
        <div class="torrent-item">
            <div class="item-image"></div>
            <div class="item-overlay">
                <h4 class="item-title win-type-ellipsis" data-win-bind="innerText:name"></h4>
                <progress data-win-bind="value:metadataPercentComplete"></progress>
            </div>
        </div>
    </div>

    <!-- Content -->
    <div id="torrents-view" class="fragment full-screen" ng-controller="TorrentController">
        <!-- Header menu -->
        <div id="tracker-menu" data-win-control="WinJS.UI.Menu">
            <button ng-repeat="tracker in trackers" data-win-control="WinJS.UI.MenuCommand" data-win-options="{id: '{{tracker}}', label: '{{tracker}}'}"></button>
        </div>

        <div id="app-header">
            <button data-win-control="WinJS.UI.BackButton"></button>
            <h1>
                <span id="tracker-list-display">All Torrents</span>
                <span class="chevron win-type-x-large" ng-click="showTrackerMenu()">&#xe099</span>
            </h1>
            <h3 id="total-count" class="win-type-x-large win-type win-type-interactive">Total ({{torrents.length}})</h3>
        </div>

        <section aria-label="Main content" role="main" winjs-list-view="torrents">
            <div class="list-view win-selectionstylefilled" data-win-control="WinJS.UI.ListView" data-win-options="{
                layout: {type: WinJS.UI.GridLayout},
                itemTemplate: select('#torrent-item-template')
            }">
            </div>
        </section>
    </div>
</body>
</html>