<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Torrent Details</title>
    <link rel="stylesheet" href="/css/torrent-details.css" />

    <!-- Page -->
    <script src="/js/pages/torrent-details-page.js"></script>
</head>
<body>
    <!-- Templates -->
    <div id="file-item-template" data-win-control="WinJS.Binding.Template">
        <div class="item">
            <div class="item-image"></div>
            <div class="item-overlay">
                <h4 class="item-title win-type-ellipsis" data-win-bind="innerText:name"></h4>
            </div>
        </div>
    </div>

    <div id="tracker-item-template" data-win-control="WinJS.Binding.Template">
        <div class="item">
            <div class="item-image"></div>
            <div class="item-overlay">
                <h4 class="item-title win-type-ellipsis" data-win-bind="innerText:host"></h4>
            </div>
        </div>
        <!--
        <th>Name</th>
        <th>Status</th>
        <th>Next update</th>
        <th>Peers</th>
        <td>{{tracker.host}}</td>
        <td>{{tracker.scrapeState}}</td>
        <td>{{tracker.nextScrapeTime * 1000 | timeuntilstring}}</td>
        <td>{{tracker.seederCount}}</td>
        -->
        <!-- fields available:
            announce
            announceState
            downloadCount
            hasAnnounced
            hasScraped
            host
            id
            isBackup
            lastAnnouncePeerCount
            lastAnnounceResult
            lastAnnounceStartTime
            lastAnnounceSucceeded
            lastAnnounceTime
            lastAnnounceTimedOut
            lastScrapeResult
            lastScrapeStartTime
            lastScrapeSucceeded
            lastScrapeTime
            lastScrapeTimedOut
            leecherCount
            nextAnnounceTime
            nextScrapeTime
            scrape
            scrapeState
            seederCount
            tier
        -->
    </div>

    <div id="peer-item-template" data-win-control="WinJS.Binding.Template">
        <div class="item">
            <div class="item-image"></div>
            <div class="item-overlay">
                <h4 class="item-title win-type-ellipsis" data-win-bind="innerText:address"></h4>
            </div>
        </div>
        <!--
        <th>Host</th>
        <th>Country</th>
        <th>Client</th>
        <th>Flags</th>
        <th>Have</th>
        <th>Up speed</th>
        <th>Down speed</th>
        <td>{{peer.address}}</td>
        <td>{{peer.flagStr}}</td>
        <td>{{peer.clientName}}</td>
        <td>{{peer.flagStr}}</td>
        <td>{{peer.progress | percentage}}</td>
        <td>{{peer.rateToPeer | bytes}}</td>
        <td>{{peer.rateToClient | bytes}}</td>
        -->
        <!-- fields available:
            address,
            clientName,
            clientIsChoked,
            clientIsInterested
            flagStr
            isDownloadingFrom
            isEncrypted
            isIncoming
            isUploadingTo
            isUTP
            peerIsChoked
            peerIsInterested
            port
            progress
            rateToClient (B/s)
            rateToPeer (B/s)
        -->

    </div>

    <!-- Content -->
    <div id="torrent-details-view" class="fragment full-screen" ng-controller="TorrentDetailsController">
        <header aria-label="Header content" role="banner">
            <button class="back-button" data-win-control="WinJS.UI.BackButton"></button>
            <div class="titlearea win-type-ellipsis">
                <div class="titlecontainer">
                    <h1 class="page-title">
                        {{torrent.name}}
                    </h1>
                </div>
            </div>
        </header>

        <section aria-label="Main content" role="main" data-win-control="WinJS.UI.Hub">
            <div class="dash-section" data-win-control="WinJS.UI.HubSection" data-win-options="{header: 'Details', isHeaderStatic: true}">
                <div class="transfer-boxes">
                    <div class="transfer-box download-box">
                        <div class="icon">
                            <span class="win-type-xx-large">&#xe1fd;</span>
                        </div>
                        <div class="details">
                            <h3>Download Speed</h3>
                            <span class="speed win-type-large">{{torrent.rateDownload | rate}}</span>
                        </div>
                    </div>
                    <div class="transfer-box upload-box">
                        <div class="icon">
                            <span class="win-type-xx-large">&#xe110;</span>
                        </div>
                        <div class="details">
                            <h3>Upload Speed</h3>
                            <span class="speed win-type-large">{{torrent.rateUpload | rate}}</span>
                        </div>
                    </div>
                </div>
                <div>
                    <progress data-win-bind="value:metadataPercentComplete;className:status Progress.winjsClass" winjs-progress="progress" value="0"></progress>
                </div>
                <div>
                    <ul class="details-display">
                        <li>
                            <div class="name">Name:</div><div class="desc">{{torrent.name}}</div>
                        </li>
                        <li>
                            <div class="name">Size:</div><div class="desc">{{torrent.totalSize | bytes}} ({{torrent.pieceCount}} pieces @ {{torrent.pieceSize | bytes}})</div>
                        </li>
                        <li>
                            <div class="name">Location:</div><div class="desc">{{torrent.downloadDir}}</div>
                        </li>
                        <li>
                            <div class="name">Hash:</div><div class="desc">{{torrent.hashString}}</div>
                        </li>
                        <li>
                            <div class="name">Created by:</div><div class="desc">{{torrent.creator}} on {{torrent.dateCreated | date:'shortDate'}}</div>
                        </li>
                        <li>
                            <div class="name">Comment:</div><div class="desc">{{torrent.comment || 'None'}}</div>
                        </li>
                        <li>
                            <div class="name">Added:</div><div class="desc">{{torrent.addedDate * 1000 | timeagostring}}</div>
                        </li>
                        <li>
                            <div class="name">Completed:</div><div class="desc">{{torrent.doneDate * 1000 | timeagostring}}</div>
                        </li>
                    </ul>
                </div>
            </div>
            <div data-win-control="WinJS.UI.HubSection" data-win-options="{header: 'Transfer', isHeaderStatic: true}">
                <div>
                    Status: {{torrent.status | status}}
                </div>
                <div>
                    Downloaded: {{torrent.downloadedEver | bytes}}
                </div>
                <div>
                    Uploaded: {{torrent.uploadedEver | bytes}} (Ratio: {{torrent.uploadRatio}})
                </div>
                <div>
                    Error: {{torrent.errorString || 'None'}}
                </div>
                <div>
                    Seeds: {{torrent.peersSendingToUs}} of {{torrent.trackerStats[0].seederCount}} connected
                </div>
                <div>
                    Peers: {{torrent.peersGettingFromUs}} of {{torrent.trackerStats[0].leecherCount}}
                </div>
                <div>
                    Remaining: {{torrent.eta | timeuntilstring}}
                </div>
                <div>
                    Last activity: {{torrent.activityDate * 1000 | timeagostring}}
                </div>
                <div>
                    Wasted: {{torrent.corruptEver | bytes}}
                </div>
            </div>
            <div winjs-list-view="trackers" data-win-control="WinJS.UI.HubSection" data-win-options="{header: 'Trackers', isHeaderStatic: true}">
                <div class="list-view win-selectionstylefilled" data-win-control="WinJS.UI.ListView" data-win-options="{
                            itemTemplate: select('#tracker-item-template'),
                            selectionMode: 'none',
                            tapBehavior: 'none',
                            swipeBehavior: 'none'
                        }">
                </div>
            </div>
            <div winjs-list-view="peers" data-win-control="WinJS.UI.HubSection" data-win-options="{header: 'Peers', isHeaderStatic: true}">
                <div class="list-view win-selectionstylefilled" data-win-control="WinJS.UI.ListView" data-win-options="{
                            itemTemplate: select('#peer-item-template'),
                            selectionMode: 'none',
                            tapBehavior: 'none',
                            swipeBehavior: 'none'
                        }">
                </div>
            </div>
            <div winjs-list-view="files" data-win-control="WinJS.UI.HubSection" data-win-options="{header: 'Files', isHeaderStatic: true}">
                <div class="list-view win-selectionstylefilled" data-win-control="WinJS.UI.ListView" data-win-options="{
                            itemTemplate: select('#file-item-template'),
                            selectionMode: 'none',
                            tapBehavior: 'none',
                            swipeBehavior: 'none'
                        }">
                </div>
            </div>
        </section>
    </div>
</body>
</html>