#rate-container {
    display: none;
}

#choose-server-view {
    height: 100%;
}

    #choose-server-view .win-listview {
        height: 100%;
    }

    #choose-server-view .win-surface {
        margin-top: 20px;
        margin-bottom: 200px;
        margin-left: 120px;
        margin-right: 120px;
    }
