body{
    padding: 20px;
}

.win-listview {
    height: 100%;
}

.win-listview .win-container {
    height: 50px;
}

.win-listview .win-item {
    background-color: #5888DB;
    height: calc(100% - 20px);
    width: calc(100% - 20px);
    padding: 10px;
}
