body {
    background-color: #eaeaea;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.full-screen {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0;
}

/* Status progress bar */

#status progress {
    position: absolute;
    width: 100%;
}

/* Rates box */
#rate-container {
    position: absolute;
    top: 135px;
    right: 60px;
    z-index: 100;
}

    #rate-container #speeds {
        display: -ms-grid;
        -ms-grid-rows: 1fr;
        -ms-grid-columns: 1fr 1fr;
        width: 200px;
    }

        #rate-container #speeds .down {
            -ms-grid-row: 1;
            -ms-grid-column: 1;
        }

        #rate-container #speeds .up {
            -ms-grid-row: 1;
            -ms-grid-column: 2;
        }

/*Login header*/
header[role=banner].login {
    margin-top: 200px;
    margin-left: 120px;
}

header[role=banner].login .logo-title {
    color: #999;
}

/*App header*/
header[role=banner].main {
    /* Define a grid with columns for the back button and page title. */
    -ms-grid-columns: 120px 1fr;
    -ms-grid-rows: 1fr;
    display: -ms-grid;
    height: 170px;
}

    header[role=banner].main .back-button {
        -ms-grid-column: 1;
        margin-left: 39px;
        margin-top: 59px;
    }

    header[role=banner].main .titlearea {
        -ms-grid-column: 2;
        margin-top: 38px;
        position: relative;
        padding: 5px 0;
    }

    header[role=banner].main .titlecontainer {
        background-color: transparent;
        border: none;
    }

    header[role=banner].main .titlearea .pagetitle {
        width: calc(100% - 20px);
    }

    header[role=banner].main .titlearea .chevron {
        vertical-align: 8px;
    }

    header[role=banner].main .titlecontainer:hover {
        color: rgb(50,154,163);
    }

    header[role=banner].main .titlecontainer:active {
        color: rgb(37,187,196);
    }

/* Icons */
.rotate180 .win-commandimage {
    transform: rotate(180deg);
}

.win-backbutton,
.win-backbutton:hover {
    color: #fff;
    border-color: #fff;
}

/* Settings */
.win-settingsflyout.wide {
    width: 500px;
}

.win-settingsflyout .win-header {
    background-color: #464646;
    color: #fff;
}

.win-settingsflyout ul {
    list-style: none;
}
