<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Transmission</title>

    <!-- WinJS references -->
    <link href="//Microsoft.WinJS.2.0/css/ui-light.css" rel="stylesheet" />
    <script src="//Microsoft.WinJS.2.0/js/base.js"></script>
    <script src="//Microsoft.WinJS.2.0/js/ui.js"></script>
    <script src="/js/lib/navigator.js"></script>
    <script src="/js/lib/jquery-2.0.3.js"></script>
    <script type="text/javascript">
        jQuery.isUnsafe = true;
    </script>
    <script src="/js/lib/angular.js"></script>
    <script src="/js/lib/angular-indexeddb.js"></script>
    <script src="/js/lib/lodash.min.js"></script>
    <script src="/js/util/lodash-mixins.js"></script>

    <!-- Transmission references -->
    <link href="/css/default.css" rel="stylesheet" />

    <!-- Winjs -->
    <script src="/js/pages/default.js"></script>
    <script src="/js/filters/winjs-bytes-filter.js"></script>
    <script src="/js/filters/winjs-status-filter.js"></script>
    <script src="/js/filters/winjs-progress-filter.js"></script>

    <!-- Other -->
    <script src="/js/lib/tiny-eventemitter.js"></script>
    <script src="/js/util/winjs-eventemitter.js"></script>

    <!-- Angular -->
    <script src="/js/filters/filters.js"></script>
    <script src="/js/services/angular-services.js"></script>
    <script src="/js/services/event-service.js"></script>
    <script src="/js/services/remote-services.js"></script>
    <script src="/js/services/status-services.js"></script>
    <script src="/js/services/win-services.js"></script>
    <script src="/js/services/polling-service.js"></script>
    <script src="/js/services/progress-service.js"></script>
    <script src="/js/controllers/status-controller.js"></script>
    <script src="/js/controllers/settings-controllers.js"></script>
    <script src="/js/controllers/appbar-controllers.js"></script>
    <script src="/js/controllers/server-controllers.js"></script>
    <script src="/js/controllers/login-controllers.js"></script>
    <script src="/js/controllers/torrent-controllers.js"></script>
    <script src="/js/directives/directives.js"></script>
</head>
<body>
    <div id="status" ng-controller="StatusController">
        <div id="rate-container" ng-controller="RateController">
            <div id="speeds">
                <div class="win-type-large down">Download: {{speeds.down | rate}}</div>
                <div class="win-type-large up">Uplodad: {{speeds.up | rate}}</div>
            </div>
        </div>

        <progress ng-show="showSpinner"></progress>
    </div>

    <div data-win-control="Application.PageControlNavigator" data-win-options="{home: '/views/choose-server.html'}">
    </div>

    <div id="app-bars">
        <!-- Session App Bar -->
        <div id="session-bar" data-win-control="WinJS.UI.AppBar" data-win-options="{placement: 'top'}" ng-controller="SessionBarController">

        </div>
        <!-- /Session App Bar -->
        <!-- Torrent App Bar -->
        <div winjs-app-bar ng-controller="TorrentBarController">
            <div class="app-bar" data-win-control="WinJS.UI.AppBar" data-win-options="{placement: 'bottom', disabled: 'true'}">
                <button data-win-control="WinJS.UI.AppBarCommand"
                        data-win-options="{id:'cmdRemove',label:'Remove',icon:'remove',
                section:'selection',tooltip:'Remove torrent'}" ng-click="remove()"></button>
                <button data-win-control="WinJS.UI.AppBarCommand"
                        data-win-options="{id:'cmdRemoveWithData',label:'Remove With Data',icon:'delete',
                section:'selection',tooltip:'Remove torrent and data'}" ng-click="remove(true)"></button>

                <hr data-win-control="WinJS.UI.AppBarCommand"
                    data-win-options="{type:'separator',section:'global'}" />

                <button data-win-control="WinJS.UI.AppBarCommand"
                        data-win-options="{id: 'cmdMoveUp',label:'Move Up',icon:'up',
                section:'global',tooltip:'Move up'}" ng-click="moveUp()"></button>
                <button data-win-control="WinJS.UI.AppBarCommand"
                        data-win-options="{id: 'cmdMoveDown',label:'Move Down',icon:'up',
                section:'global',tooltip:'Move down'}" ng-click="moveDown()" class="rotate180"></button>
                <button data-win-control="WinJS.UI.AppBarCommand"
                        data-win-options="{id: 'cmdMoveTop',label:'Move Top',icon:'upload',
                section:'global',tooltip:'Move top'}" ng-click="moveTop()"></button>
                <button data-win-control="WinJS.UI.AppBarCommand"
                        data-win-options="{id: 'cmdMoveBottom',label:'Move Bottom',icon:'download',
                section:'global',tooltip:'Move bottom'}" ng-click="moveBottom()"></button>

                <hr data-win-control="WinJS.UI.AppBarCommand"
                    data-win-options="{type:'separator',section:'global'}" />

                <button data-win-control="WinJS.UI.AppBarCommand"
                        data-win-options="{id: 'cmdReannounce',label:'Reannounce',icon:'people',
                section:'global',tooltip:'Reannounce torrent'}" ng-click="reannounce()"></button>
                <button data-win-control="WinJS.UI.AppBarCommand"
                        data-win-options="{id:'cmdVerify',label:'Verify',icon:'zoom',
                section:'global',tooltip:'Verify torrent'}" ng-click="verify()"></button>
                <button data-win-control="WinJS.UI.AppBarCommand"
                        data-win-options="{id:'cmdStop',label:'Stop',icon:'stop',
                section:'global',tooltip:'Stop torrent'}" ng-click="stop()"></button>
                <button data-win-control="WinJS.UI.AppBarCommand"
                        data-win-options="{id:'cmdStart',label:'Start',icon:'play',
                section:'global',tooltip:'Start torrent'}" ng-click="start()"></button>
            </div>
        </div>
        <!-- /Torrent Bar -->
        <!-- Server Bar -->
        <div winjs-app-bar ng-controller="ServerBarController">
            <div class="app-bar" data-win-control="WinJS.UI.AppBar" data-win-options="{placement: 'bottom', disabled: 'true'}">
                <button data-win-control="WinJS.UI.AppBarCommand"
                        data-win-options="{id:'cmdRemove',label:'Remove',icon:'remove',
                section:'selection',tooltip:'Remove torrent'}" ng-click="remove()"></button>
            </div>
        </div>
        <!-- /Server Bar -->
    </div>
</body>
</html>
